.CalcInput {
	width: 16vw;
	background-color: lightgray;
	border: none;
	margin-left: 1vw;
	border-radius: 5px;
	padding: 0 20px;
	font-weight: bold;
	height: 3vh;
}

.CalcButton {
	width: 6vw;
	height: 3vh;
	margin-left: 0.3vw;
	background-color: rgb(202, 156, 24);
	border: none;
	border-radius: 5px;
	font-weight: bolder;
}

.ListItemContainer {
	margin-top: 4.5vh;
}

.CounterBoard {
	position: relative;
}

.CounterStyle {
	width: 15vw;
	left: 0;
	margin-top: 1.2vw;
}

/*.CounterSpace {
	
}*/