.ITElement1Img {
  width: 2vw;
}
.HomePageSyle {
  position: relative;
  height:100vh ;
  background-color: black;
  background-image: linear-gradient(#353738, black);
}

.HomePageSyle {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	        animation: color-change-3x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
  0% {
    background-image: linear-gradient(#353738, black);
  }
  50% {
    background-image: linear-gradient(#616161, black);
  }
  100% {
    background-image: linear-gradient(#b3b3b3, black);
  }
}
@keyframes color-change-3x {
  0% {
    background-image: linear-gradient(#353738, black);
  }
  50% {
    background-image: linear-gradient(#616161, black);
  }
  100% {
    background-image: linear-gradient(#b3b3b3, black);
  }
}
.HomeLoadingStyle1{
  width: 50vw;
  height: 100vh;
  -webkit-animation: slide-out-left 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
.HomeLoadingStyle2{
  width: 50vw;
  height: 100vh;
  -webkit-animation: slide-out-right 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
.HomeLoading{
  width: 100vw;
  display: flex;
  height: 100vh;
}
.HomeLoading1{
  width: 50vw;
  height: 100vh;
}
.HomeLoading2{
  width: 50vw;
  height: 100vh;
}
.Carousel {
  justify-content: center;
  width: 45vw;
  position: absolute;
  right: 0;
  margin-right: 6vw;
  margin-top: 14vh;
}