.container-fluid {
  width: 100%;
  height: 4vh;
  background-image: url(./assets/Home/leathermod.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a:link {
  color: black;
  font-size: 1.2vw;
}

a {
  color: white;
}

a:visited {
    color: white;
}